/** Adding in Drop Down Button for Code Chunks
See `dropdown` code chunk setting for implementations in knitted doc
*/

button.btn.collapsed:before
{
    content:'+' ;
    display:block;
    width:15px;
}
button.btn:before
{
    content:'-' ;
    display:block;
    width:15px;
}

/** Adds a watermark to the document
*/

.watermark {
  opacity: 0.2;
  position: fixed;
  transform: rotate(-45deg);
  top: 50%;
  font-size: 1000%;
  color: #00407d;
  z-index: 9990;
}

/* anchor weirdness */

.hasAnchor:hover a.anchor-section {
  visibility: hidden;
}
